<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find asr_next_best_view)/log/rosconsole.config" />
    
	<!--<include file="$(find recognition_for_grasping)/launch/recognition_manager.launch" />-->
	<node name="asr_object_database" type="asr_object_database" pkg="asr_object_database" output="screen" />
	
	<!--<include file="$(find asr_mild_navigation)/launch/simulation/simulation_floor.launch" />-->
	
	<include file="$(find asr_next_best_view)/launch/next_best_view_core_sim.launch" />
	
	<include file="$(find asr_world_model)/launch/world_model.launch" />
	
	<include file="$(find asr_flir_ptu_driver)/launch/ptu_left_mock.launch" />
</launch>
