<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find next_best_view)/log/rosconsole.config" />
	<include file="$(find next_best_view)/launch/RobotModelServiceReal.launch" />
	<node pkg="next_best_view" type="next_best_view" name="nbv" output="screen">
	  <rosparam file="$(find next_best_view)/rsc/next_best_view_settings_real.yaml"/>
	  <rosparam file="$(find next_best_view)/rsc/VisualizationConfig.yaml"/>
	  <rosparam file="$(find next_best_view)/rsc/TopicsConfig.yaml"/>
	  <!-- this is used by costmap -->
          <rosparam file="$(find next_best_view)/rsc/costmap_params.yaml" command="load"/>
          <!-- CropBoxListTableFitWithNormals CropBoxListWholeRoomWithNormals-->
          <param name="mCropBoxListFilePath" value="$(find next_best_view)/rsc/CropBoxListTableFit.xml"/>
	  <param name="mMapsImagePath" value="$(find next_best_view)/rsc"/>
	</node>
</launch>
