<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find next_best_view)/log/rosconsole.config" />
	<include file="$(find next_best_view)/launch/RobotModelService.launch" />
	<node pkg="next_best_view" type="next_best_view" name="nbv" output="screen">
	  <rosparam file="$(find next_best_view)/rsc/next_best_view_settings_sim.yaml"/>
	  <rosparam file="$(find next_best_view)/rsc/VisualizationConfig.yaml"/>
	  <param name="mCropBoxListFilePath" value="$(find next_best_view)/rsc/CropBoxListHighResolution.xml"/>
	</node>
</launch>
