<launch>
	<node pkg="next_best_view" type="next_best_view_robot_model" name="nbv_robot_model" output="screen">
	  <rosparam file="$(find next_best_view)/rsc/next_best_view_settings_real.yaml"/>
	  <rosparam file="$(find next_best_view)/rsc/TopicsConfig.yaml"/>
	  <!-- this is used by costmap -->
          <rosparam file="$(find next_best_view)/rsc/costmap_params.yaml" command="load"/>
	</node>
	<include file="$(find asr_robot_model_services)/launch/RobotModelServiceReal.launch" />
</launch>
