<launch>
	<include file="$(find next_best_view)/launch/next_best_view_core.launch" />
	<include file="$(find ptu_driver)/launch/ptu_left_mock.launch" />
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find next_best_view)/log/rosconsole.config" />
	<node pkg="next_best_view" type="next_best_view_ik_test" name="test" output="screen"/>
</launch>
