<launch>
	<!--env name="ROSCONSOLE_CONFIG_FILE" value="$(find next_best_view)/log/rosconsole.config" /-->
	<include file="$(find asr_mild_navigation)/launch/simulation/simulation_slam.launch" />
	<include file="$(find next_best_view)/launch/next_best_view_core_sim.launch" />
	<include file="$(find world_model)/launch/world_model.launch" />
	<include file="$(find recognition_for_grasping)/launch/recognition_manager.launch" />
	<include file="$(find ptu_driver)/launch/ptu_left_mock.launch" />
	<node pkg="next_best_view" type="next_best_view_multi_id_scene_test" name="test" output="screen"/>
</launch>
